img {
	width : 100%;
}

.navbar {
	background-color : #e3f2fd;
}

.fa.fa-edit {
	color : #18a2b9;
}

.list-group-item.delete:hover {
	background-color : pink;
	cursor           : grab;
}

.list-group-item.update:hover {
	background-color : gainsboro;
	cursor           : grab;
}

.list-group-item.board:hover {
	background-color : gainsboro;
	cursor           : grab;
}

.fa.fa-minus-circle {
	color : red;
}

.landing {
	background-position : center;
	/* background: url("../img/showcase.jpg") no-repeat; */
	background-size     : cover;
	height              : 100vh;
	margin-bottom       : -50px;
	margin-top          : -24px;
	position            : relative;
}

.landing-inner {
	padding-top : 80px;
}

.dark-overlay {
	background-color : rgba(0, 0, 0, 0.7);
	height           : 100%;
	left             : 0;
	position         : absolute;
	top              : 0;
	width            : 100%;
}

.card-form {
	opacity : 0.9;
}

.latest-profiles-img {
	height : 40px;
	width  : 40px;
}

.form-control::placeholder {
	color : #bbb !important;
}
